<h1> Edit user </h1>

<%= form_for @user do |user| %>

  <p>Имя:<br/><%= user.text_field :first_name %></p>
  <p>Фамилия:<br/><%= user.text_field :last_name %></p>
  <p>Логин:<br/><%= user.text_field :personal_data %></p>
  <p>Пароль:<br/><%= user.text_field :password %></p>
  <p>Почта:<br/><%= user.text_field :email %></p>
  <p>Дата рождения:<br/><%= user.text_field :birthday %></p>

  <p><%= user.submit "Изменить пользователя" %></p>

<% end %>