<h1> Info for user</h1>
<%= @user.first_name%> <%=@user.last_name %>
<ul>
  <li> <%= @user.email %></li>
  <li> <%= @user.birthday %></li>
</ul>
<%posts = @user.posts %>
<h4> Posts for user </h4>
<ul>
  <% posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
  <p> <%= link_to  'Создать пост', new_user_post_path(@user) %></p>
  <p> <%= link_to  'Изменить пользователя', edit_user_path(@user.id) %></p>
</ul>
