<p>Post user name <%= @user.first_name%></p>
<ul>
  <li>Title - <%= @post.title %></li>
  <li>Body - <%= @post.body %></li>
  <li>Published_at - <%= @post.published_at %></li>
  <%=link_to "Изменить пост", edit_post_path %>
</ul>